/* import material icons (from node modules) */
@import 'material-icons/iconfont/material-icons.css';
@import 'unpoly/unpoly.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#header_logo {
  display: block;
  width: 13rem;
  height: 50px;
  background: url("../images/logo.png") 15px center no-repeat;
  background-size: 150px auto;
}

/* spécifications pour les modales unpoly */
up-modal-box {
  background: oklch(var(--b1));
  border-radius: var(--rounded-box);
}

/* spécifications pour les input readonly (daisyui) */
.input:has(> input[readonly]),
.input-readonly,
.input[readonly] {
  cursor: not-allowed;
  --tw-border-opacity: 1;
  border-color: var(--fallback-b2,oklch(var(--b2)/var(--tw-border-opacity)));
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b2,oklch(var(--b2)/var(--tw-bg-opacity)));
  color: var(--fallback-bc,oklch(var(--bc)/0.4))}

.input:has(> input[readonly])::placeholder,
.input-readonly::placeholder,
.input[readonly]::placeholder {
  color: var(--fallback-bc,oklch(var(--bc)/var(--tw-placeholder-opacity)));
  --tw-placeholder-opacity: 0.2}

.input:has(> input[readonly]) > input[readonly] {
  cursor: not-allowed}

.input::-webkit-date-and-time-value {
  text-align: inherit}

/*.menu-horizontal {
  @apply gap-5;
}*/
