@import 'reset.css';
@import 'colors.css';
@import 'nice-select.css';

/* import material icons (from node modules) */
@import 'material-icons/iconfont/material-icons.css';
/* import IBM Plex Sans (from node modules) */
@import "@fontsource/ibm-plex-sans";


body {
  font-family: "IBM Plex Sans",sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

/* personnalisation scrollbar navigateur (edge, chrome, safari uniquement) */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-track {
  background: var(--edition-black-500);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--edition-black-100);
  border-radius: 20px;
  border: 1px solid var(--edition-black-200);
}



i.material-icons {
  font-family: "Material Icons",Arial,Verdana,Tahoma,sans-serif;
  font-size: 1rem;
  padding-right: 0.2rem;
  margin: 0;
  display: inline;
}

#header #header_infos {
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: var(--edition-black-default);
  display: flex;
  gap: 1em;
  align-items: center;
  color: var(--edition-black-100);
}

#header #header_infos #header_logo {
  display: block;
  width: 13rem;
  height: 50px;
  background: url("../images/logo.png") 15px center no-repeat;
  background-size: 150px auto;
}

#shop-version {
  font-size: 0.8rem;
}

#header-search {
  flex-grow: 1;
}

#header-right {
  display: flex;
  gap: 1em;
  margin: 0 1em;
  align-items: center;
}

#show-boutique {
  text-decoration: none;
  color: var(--edition-black-100);
  line-height: 1.5rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

#show-boutique i.material-icons {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

#show-boutique:hover {
  color: var(--edition-lightblue-100);
}

#notifications, #menu_employee {
  line-height: 100%
}

#notifications i.material-icons, #menu_employee i.material-icons {
  font-size: 1.4rem;
}

#notifications:hover, #menu_employee:hover {
  color: var(--edition-lightblue-100);
}

/*main {
  display: flex;
}*/

#navbar {
  box-sizing: border-box;
  padding: 0.7rem 0rem 2rem 0;
  width: 13rem;
  background-color: var(--edition-white);
  border-right: 1px solid var(--edition-lightblue-500);
  overflow: auto;
  position: fixed;
  top: 50px;
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
}

#navbar::-webkit-scrollbar {
  width: 0px;
}
#navbar:hover::-webkit-scrollbar {
  width: 8px;
}

#navbar ul li {
  display: block;
}

/* icones */
#navbar i.material-icons {
  font-family: "Material Icons",Arial,Verdana,Tahoma,sans-serif;
  font-size: 1.1rem;
  padding-right: 0.6rem;
  margin: 0;
  display: inline;
}

/* Les liens de niveau 1 */

#navbar ul li.link-levelone {
  padding: 12px 5px 12px 15px;
}
#navbar a {
  font-size: 14px;
  color: var(--edition-black-400);
  text-decoration: none;
  line-height: 1rem;
}
#navbar a.link-active {
  font-weight: bold;
}

#navbar ul li.link-levelone:hover, #navbar ul li.link-levelone.link-active {
  border-left: 1px solid var(--edition-black-default);
  background-color: var(--edition-lightblue-100);
}
#navbar ul li.link-levelone:hover > a {
  font-weight: bold;
}

/* les liens de niveau 2 */
#navbar ul.submenu {
  /*background-color: var(--edition-lightblue-100);*/
  padding-left: 2.5rem;
}
#navbar ul.submenu > li.link-level-two {
  padding: 8px 0;
}
#navbar ul.submenu > li.link-level-two:first-of-type {
  padding-top: 16px;
}
#navbar ul.submenu > li.link-level-two:hover > a {
  font-weight: bold;
}


/* les catégories de titre (niveau 1) */

#navbar ul li.category-title {
  display: block;
  padding: 0.75rem 0 0.5rem;
  margin: 0.875rem 0 0 0.938rem;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.125rem;
}
#navbar ul li.category-title > span.title {
  font-size: 14px;
  color: var(--edition-black-300);
  text-transform: uppercase;
}

/* la partie contenu centrale */

#main-container {
  margin-left: 13rem;
  margin-top: 20px;
  min-height: calc(100vh - 50px);
}

#header-toolbar {
  background-color: var(--edition-white);
  border-bottom: 1px solid var(--edition-lightblue-500);
  min-height: 60px;
  padding-top: 0.2em;
  padding-left: 1em;
  padding-bottom: 1em;
  position: sticky;
  z-index: 50;
  top: 50px;
}

#main-content {
  box-sizing: border-box;
  padding: 50px 64px 1rem 64px;
  background-color: var(--edition-lightblue-100);
}

#main {
  box-sizing: border-box;
  background-color: var(--edition-white);
  border: 1px solid var(--border-main);
  border-top: 2px solid var(--edition-blue);
  padding: 24px;
}

/* styles spécifiques */
.breadcrumb {
  display: block;
  height: 28px;
  line-height: 28px;
  font-size: 0.75rem;
}
.breadcrumb a {
  text-decoration: none;
  color: var(--edition-black-500);
}
.breadcrumb a:hover {
  color: var(--edition-blue);
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
.card-header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  padding-top: 12px;
  font-size: 24px;
}
.card-header h3 {
  font-weight: bold;
}
.card-header i {
  font-size: 24px;
  cursor: pointer;
}

/* table */

.table {
  width: 100%;
}
.table thead th {
  border-top: none;
  border-bottom: solid 1px #25b9d7;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.4rem;
  text-align: left;
}

.table img {
  max-width: 3rem;
  max-height: 3rem;
}

.table tbody tr:hover {
  background-color: var(--edition-lightblue-100);
  cursor: pointer;
}

.table tbody td {
  padding: 1rem 0.4rem;
  border-top: 1px solid #bbcdd2;
  vertical-align: middle;
}

.table tbody td a {
  text-decoration: none;
}
.table tbody td a i {
  font-size: 1.45em;
  color: #6c868e;
}
.table tbody td a:hover i {
  color: var(--edition-black);
}

.table .td-flex {
  display: flex;
  position: relative;
}
.dropdown {
  z-index: 400;
  padding: 8px;
  background: var(--edition-white);
  border-color: var(--edition-lightblue-500);
  border-radius: var(--edition-radius);
  box-shadow: 0 12px 60px rgb(0 0 0 / .1);

  position: absolute;
  transform: translate3d(-59px, 29px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;

  box-sizing: border-box;
  padding: 0.5rem;
  margin: 0.5rem;
  color: #222222;
  border: 1px solid #b3c7cd;

  display: none;
}
.dropdown .btn {
  display: flex;
  align-items: center;
}

/* formulaires */
form {
  width: 80%;
  margin: auto;
}
form > div {
  display: flex;
  margin-bottom: 1.2rem;
}
form > div label {
  padding-right: 25px;
  text-align: right;
  flex: 0 0 33%;
}
form > div label.required::before {
  content: '*';
  margin-right: 0.5rem;
  color: var(--edition-destructive-500);
}

form > div input.form-control {
  flex-basis: 0;
  flex-grow: 1;
  height: 1.5rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  background-color: var(--edition-white);
  border: 1px solid #bbcdd2;
}

form > div textarea.form-control {
  line-height: 1.5;
  background-color: var(--edition-white);
  border: 1px solid #bbcdd2;
  padding: 0.5rem 1rem;
  min-height: 8rem;
  width: 100%;
}

/* checkbox js */
.checkbox-js {
  width: 20px;
  height: 20px;
  border: 2px solid var(--edition-font-500);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-js.active {
  border: 2px solid var(--edition-black-default);
  background-color: var(--edition-black-default);
}

.checkbox-js > .bulk {
  width: 0;
  height: 0;
}

.checkbox-js.active > .bulk {
  box-sizing: border-box;
  width: 16px;
  height: 7px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg);
}

/* affichage des images (form produits) */
.form-title-images {
  font-size: 1.4rem;
  margin: 1.4rem 0;
}
.form-images {
  width: 100%;
  display: flex;
  gap: 10px;
  margin: auto;
  overflow-x: auto;
  margin-bottom: 3rem;
}
.form-images-image {
  width: 19.2%;
  display: flex;
  flex-direction: column;
}
.form-images-image .btn-remove {
  margin: 1rem 0;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid var(--edition-info-500);
  border-radius: 0.5rem;
  background-color: var(--edition-info-100);
}

/* customization des select avec NiceSelect2 */

.nice-select.form-control {
  background-color: var(--edition-white);
  border: 1px solid #bbcdd2;
  width: 100%;
}
.nice-select.form-control .nice-select-dropdown {
  left: 0 !important;
  right: 0 !important;
}

/* custom alert */
.alert {
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 3rem;
  color: #363a41;
  margin: 1rem 0;
}
.alert .btn-close {
  float: right;
  cursor: pointer;
  margin-left: 20px;
  line-height: 0.8;
  width: 50px;
  height: 20px;
  border: 0;
  background-color: transparent;
}
.alert {
  position: relative;
}
.alert::before {
  font-family: "Material Icons",Arial,Verdana,Tahoma,sans-serif;
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 15px;
  font-size: 1.5rem;
}

/* LIENS DANS LES ALERTES */
.alert a {
  text-decoration: none;
  color: #363a41;
}

/* ALERT SUCCESS */

.alert-success {
  background-color: var(--edition-success-50);
}
.alert-success .btn-close {
  color: var(--edition-success-900);
}
.alert-success::before {
  color: var(--edition-success-900);
  content: "done";
}

/* ALERT WARNING */

.alert-warning {
  color: var(--edition-warning-900);
  background-color: var(--edition-warning-50);
}
.alert-warning .btn-close {
  color: var(--edition-warning-900);
}
.alert-warning::before {
  content: "warning";
}

/* badges */
.badge {
  /* border: 1px solid var(--edition-black); */
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 0.4rem;
}
.badge.bg-primary {
  background-color: var(--edition-info-100);
}
.badge.bg-danger {
  background-color: var(--edition-destructive-100);
}
.badge.bg-info {
  background-color: var(--edition-warning-100);
}
/* effet hover */
.badge.bg-primary:hover {
  background-color: var(--edition-info-200);
}
.badge.bg-danger:hover {
  background-color: var(--edition-destructive-500);
}
.badge.bg-info:hover {
  background-color: var(--edition-warning-200);
}

/* bouton switch */
.td--switch {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.ps-switch {
  box-sizing: border-box;
  width: 30px;
  height: 16px;
  font-size: .75rem;
  background-color: var(--edition-lightblue-900);
  border-radius: 15px;
  padding: 2px;
  cursor: pointer;
}
.ps-switch .state {
  height: 12px;
  width: 12px;
  border-radius: 7px;
  background-color: var(--edition-white);
  animation: 0.25s;
}
.ps-switch--on .state {
  transform: translateX(14px);
  transition: .25s ease-out;
}
.ps-switch--on {
  background-color: #70b580;
}

/* pagination */
.pagination {
  width: 50%;
  display: flex;
  gap: 0.5rem;
  margin: 2rem auto;
  justify-content: center;
}
.page-item {
  display: block;
  border: 1px solid var(--edition-black);
  padding: 0.4rem 0.8rem;
  background: var(--edition-lightblue-200);
  border-radius: 1.6rem;
}
.page-item.active {
  background: var(--edition-lightblue-700);
}
.page-item.disabled {
  background: var(--edition-lightblue-100);
  border-color: var(--edition-lightblue-700);
}
.page-item a {
  text-decoration: none;
  color: var(--edition-black);
}
.page-item.disabled a {
  cursor: default;
  color: var(--edition-lightblue-700);
}

.btn--hidden {
  display: none;
}

/* Modales (admin) */

.modal-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: calc(100% - 30px);
  max-width: 64rem;
  min-height: 150px;
  max-height: calc(100% - 50px);
  background: white;
  border: 1px solid;
  border-radius: 0.5em;
}

.modal-header, .modal-body, .modal-footer {
  padding: 15px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-header h5 {
  font-size: 1.4rem;
  line-height: 2.25rem;
  color: #232323;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header button.close {
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 1.6rem;
  margin-top: -2px;
  text-transform: lowercase;
  align-self: flex-end;
}

.modal-header button.close:hover {
  opacity: 0.6;
}

.modal-body {
  font-size: 0.9rem;
  line-height: 1.9rem;
}

.modal-body * {
  box-sizing: border-box;
}

.modal-body-container {
  display: flex;
}

.modal-footer {
  text-align: right;
}

/* les boutons de modales */
.btn {
  /* box-sizing: border-box; */
  display: inline-block;
  /* align-items: center;
  justify-content: center; */
  line-height: 1.25;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  color: #232323;
  background-color: #f6f6f6;
}

td a.btn, .relative a.btn {
  font-weight: normal;
  background-color: inherit;
  padding: 0;
}

.btn-bulk-action {
  background-color: #fff;
  border: 1px solid #232323;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 2rem 0;
}

.btn.disabled {
  color: #888888;
  border-color: #888888;
}

.btn-space {
  margin-right: 1rem;
}

.btn i {
  font-size: 1rem;
}

.btn:hover {
  opacity: 0.7;
}

.btn-primary {
  color: #fff;
  background-color: #24b9d7;
}
.btn-primary:hover {
  background-color: #1d93ab;
}

.btn-danger {
  color: #fff;
  background-color: var(--edition-destructive-500);
}
.btn-danger:hover {
  background-color: var(--edition-destructive-900);
}

.relative {
  position: relative;

}
.bulk-dropdown {
  display: flex;
  transform: translate3d(-9px, 31px, 0px);
  width: 250px;
}
.bulk-dropdown a {
  text-decoration: none;
}
