:root {
  --edition-radius: 0;
  --edition-blue-100: #f7fcfd;
  --edition-blue-200: #e4f4f8;
  --edition-blue: #78c4d8;
  --edition-yellow: #f3cb5f;
  --edition-white: #ffffff;
  --edition-black: #000000;
  --edition-black-100: #bbbbbb;
  --edition-black-300: #61615f;
  --edition-black-400: #3f3f3d;
  --edition-black-500: #1d1d1b;
  --edition-black-default: var(--edition-black-500);
  --edition-black-hover: var(--edition-black-400);
  --edition-lightblue-50: #f7f7f7;
  --edition-lightblue-100: #f7f7f7;
  --edition-lightblue-200: #eeeeee;
  --edition-lightblue-300: #d9e3ec;
  --edition-lightblue-500: #dddddd;
  --edition-lightblue-700: #bbcddd;
  --edition-lightblue-900: #a7bed1;
  --edition-lightblue-border-default: var(--edition-lightblue-500);
  --edition-lightblue-border-decorative: var(--edition-lightblue-200);
  --edition-tooltips-bg: #1d1d1b;
  --edition-focus: #174eef;
  --edition-hide-element: none;
  --edition-outline-size: 2px;
  --edition-font-family: "IBM Plex Sans",sans-serif;
  --edition-font-100: #c1c5ca;
  --edition-font-200: #989ea7;
  --edition-font-500: #505969;
  --edition-font-900: #131a26;
  --edition-font-main: #ffffff;
  --edition-font-default: var(--edition-font-900);
  --edition-font-disabled: var(--edition-font-100);
  --edition-font-secondary: var(--edition-font-500);
  --edition-font-link: #174eef;
  --edition-info-50: #e8edfd;
  --edition-info-100: #d1dcfc;
  --edition-info-200: #a2b8f9;
  --edition-info-500: #174eef;
  --edition-info-700: #113deb;
  --edition-info-900: #0725e4;
  --edition-destructive-50: #fae7e8;
  --edition-destructive-100: #f2c2c5;
  --edition-destructive-500: #bd473e;
  --edition-destructive-700: #ca272e;
  --edition-destructive-900: #ba151a;
  --edition-success-50: #e9f3ed;
  --edition-success-100: #d3e6db;
  --edition-success-200: #a6cdb8;
  --edition-success-500: #21834d;
  --edition-success-700: #18703d;
  --edition-success-900: #0b5325;
  --edition-warning-50: #fff5e5;
  --edition-warning-100: #ffeccc;
  --edition-warning-200: #ffd999;
  --edition-warning-500: #ffa000;
  --edition-warning-700: #ff8e00;
  --edition-warning-900: #ff7300;
  --edtion-primary-600: #5e5e5e;
  --edition-red-50: #ffe4e6;
  --edition-blue-700: #2942cc;
  --edition-purple-700: #7b4fac;

  --border-main: #dbe6e9;
  --edition-white: #fff;
}
